<section class="token">
    <v-col class="px-2">
      <v-row>
        <v-flex md3 xs6 d-flex class="px-2">
          <miniGraph value="$ 30" title="Market cap" append="B" />
        </v-flex>
        <v-flex md3 xs6 d-flex class="px-2">
          <miniGraph value="$ 20" title="Sold last 24 hours" append="M" />
        </v-flex>
        <v-flex md3 xs6 d-flex class="px-2">
          <miniGraph value="12M" title="Number of tokens" append="TFT" />
        </v-flex>
        <v-flex md3 xs6 d-flex class="px-2">
          <miniGraph value="$ 0,32" title="Max value" />
        </v-flex>
      </v-row>

      <v-row class="pt-2">
        <v-flex lg9 d-flex>
          <v-col class="px-2 py-2">
            <v-flex>
              <tokenPriceGraph style="width: 100%"/>
            </v-flex>
            <v-flex class="mb-0">
            <v-row wrap class="pt-2 px-1">
                <v-flex xs6 class="pa-2 pb-0">
                  <lastTrades style="height: 100%; width: 100%;"/>
                </v-flex>
                <v-flex xs6 class="pa-2 pb-0">
                  <newscard style="height: 100%; width: 100%;" />
                </v-flex>
              </v-row>
            </v-flex>
          </v-col>
        </v-flex>
        <v-flex d-flex xs12 lg3 class="pa-2">
          <v-card style="width:100%; height: 100%; position: relative;">
            <v-card-title primary-title class="primary py-3 mb-5 white--text">
              <v-icon small dark left>fas fa-shopping-cart</v-icon>
              My tokens
            </v-card-title>
            <v-card-text style="min-height: 500px;">

            </v-card-text>
          </v-card>
        </v-flex>
      </v-row>
    </v-col>
</section>