<section class="token fill-height">
  <v-container fill-height grid-list-lg>
    <v-layout row class="fill-height">
      <v-flex d-flex class="pb-0">
        <v-layout column class="pa-0 fill-height">
          <v-flex d-flex xs-4>
            <tokenPriceGraph style="width: 100%" />
          </v-flex>
          <v-flex d-flex class="fill-height py-0">
            <v-layout row class="fill-height my-0">
              <v-flex md6 class="py-0">
                <lastTrades style="height: 100%" />
              </v-flex>
              <v-flex md6 class="py-0">
                  <newscard style="height: 100%" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex md3 xs12 cl>
        <v-card style="width:100%; height: 100%; position: relative;">
          <v-card-title primary-title class="primaryDarker py-3 mb-5 white--text">
            <v-icon dark left>fas fa-shopping-cart</v-icon>
            My tokens
          </v-card-title>
          <v-card-text>

          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</section>