<section class="tokenpricegraph" style="height: 100%; position:relative">
  <v-card> 
    <v-card-title primary-title class="primary py-3 mb-5 white--text">
      <v-row class="pl-2">
          <v-icon left small color="white">fas fa-coins</v-icon>
          Daily Token Price
          <v-spacer/>
          <v-btn small text color="white">1 H</v-btn>
          <v-btn small text color="white">12 H</v-btn>
          <v-btn small text color="white">1 D</v-btn>
          <v-btn small text color="white">1 W</v-btn>
          <v-btn small text color="white">1 M</v-btn>
          <v-btn small text color="white">6 M</v-btn>
          <v-btn small text color="white" class="secondary darken-2 ">1 Y</v-btn>
          <v-btn small text color="white">ALL</v-btn>
      </v-row>
        
    </v-card-title>
    <v-card-text>
      <p class="display-1">$0.134 <small class="red--text body-1">- $12,61 (0,1382%)</small></p>
      <p class="font-weight-bold mb-0 secondary--text">High: $0.145</p>
      <p class="font-weight-bold mb-0 red--text">Low: $0.117</p>
      <lineGraph :chart-data="dataCollection" style="max-height: 100%; position: relative;"/>
    </v-card-text>
  </v-card>
</section>