<section class="tokenpricegraph" style="height: 100%; position:relative">
  <v-card> 
    <v-card-title primary-title class="primaryDarker py-3 mb-5 white--text">
      <v-row class="pl-2">
          <v-icon left color="white">fas fa-coins</v-icon>
          Daily Token Price
          <v-spacer/>
          <v-btn small text color="white">1 H</v-btn>
          <v-btn small text color="white">12 H</v-btn>
          <v-btn small text color="white">1 D</v-btn>
          <v-btn small text color="white">1 W</v-btn>
          <v-btn small text color="white">1 M</v-btn>
          <v-btn small text color="white">6 M</v-btn>
          <v-btn small text color="white" class="secondary">1 Y</v-btn>
          <v-btn small text color="white">ALL</v-btn>
      </v-row>
        
    </v-card-title>
    <v-card-text>
      <lineGraph :chart-data="dataCollection" style="max-height: 100%; position: relative;"/>
    </v-card-text>
  </v-card>
</section>