<section class="capacity">
  <v-container grid-list-lg fill-height class="pt-1">
    <v-layout column>
      <v-layout row wrap class="px-4">
        <v-flex md2 xs6 d-flex>
          <miniGraph value="900" title="Registered 3Nodes" />
        </v-flex>
        <v-flex md2 xs6 d-flex>
          <miniGraph value="526" title="3Nodes online" />
        </v-flex>
        <v-flex md2 xs6 d-flex>
          <miniGraph value="21" title="Countries"/>
        </v-flex>
        <v-flex md2 xs6 d-flex>
          <miniGraph value="64" title="Farms" />
        </v-flex>
        <v-flex md2 xs6 d-flex>
          <miniGraph value="14.6K" title="Cores online" />
        </v-flex>
        <v-flex md2 xs6 d-flex>
          <miniGraph value="14.6K" title="Storage capacity online" />
        </v-flex>
      </v-layout>

      <v-layout row wrap class="fill-height px-4">
        <v-flex>
          <capacitymap style="width: 100%"/>
        </v-flex>
        <v-flex md2 class="fill-height">
            <miniGraph class="pb-4 mr-0" value="$15.00" title="AVG compute unit price" />
            <miniGraph class="pb-4 mr-0" value="$12.00" title="AVG storage unit price" />
            <miniGraph class="pb-4 mr-0" value="19.7K" title="Compute capacity grid" />
            <miniGraph class="pb-4 mr-0" value="83.1K" title="Storage capacity grid" />
            <miniGraph class="pb-4 mr-0" value="$89 915 106" title="5 Years network revenue" />
            <scrollablecard title="Recent reservations">
              <div v-for="i in 10" :key="i">
                <p>hi</p>
              </div>
            </scrollablecard>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</section>