<section class="capacity">
  <v-row class="pa-2">
    <v-flex md10>
      <v-col class="pt-0">
        <v-row>
          <v-flex md3 xs6 d-flex class="pa-2">
            <miniGraph :value="registerd3bots" title="Registered 3Nodes" />
          </v-flex>
          <v-flex md3 xs6 d-flex class="pa-2">
            <miniGraph value="526" title="3Nodes online" />
          </v-flex>
          <v-flex md3 xs6 d-flex class="pa-2">
            <miniGraph value="21" title="Countries" />
          </v-flex>
          <v-flex md3 xs6 d-flex class="pa-2">
            <miniGraph value="64" title="Farms" />
          </v-flex>
        </v-row>
        <v-row>
          <v-flex class="ma-2" d-flex md4><capacityMap style="width: 100%;"/></v-flex>
          <v-flex class="ma-2" d-flex><nodesTable style="height: 100%; width:100%;"/></v-flex>
        </v-row>
      </v-col>
    </v-flex>
    <v-flex md2>
      <v-col class="pa-2">
        <miniGraph class="pb-4" value="14.6K" title="Cores online" />
        <miniGraph class="pb-4" value="14.6K" title="Storage capacity online" />
        <miniGraph class="pb-4" value="$15.00" title="AVG compute unit price" />
        <miniGraph class="pb-4" value="$12.00" title="AVG storage unit price" />
        <miniGraph class="pb-4" value="19.7K" title="Compute capacity grid" />
        <miniGraph class="pb-4" value="83.1K" title="Storage capacity grid" />
        <miniGraph class="pb-4" value="$89 915 106" title="5 Years network revenue" />
        <scrollablecard title="Recent reservations">
          <div v-for="i in 10" :key="i">
            <p>hi</p>
          </div>
        </scrollablecard>
      </v-col>
    </v-flex>
  </v-row>


</section>