<section class="farmmanagement">
    <v-row class="ma-3">
      <v-card style="width: 100%;">
        <v-card-title primary-title class="primary py-3 mb-5 white--text">
          My Nodes
          <v-spacer />
          <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="200" offset-x>
            <template v-slot:activator="{ on }">
              <v-badge overlap v-model="showBadge" color="red">
                <template v-slot:badge>
                  <span>1</span>
                </template>
                <v-btn text icon color="white" dark v-on="on">
                  <v-icon>far fa-bell mr-2</v-icon>
                </v-btn>
              </v-badge>
            </template>

            <v-card>
              <v-list>
                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon>fas fa-plus</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>A new node wants to join your farm</v-list-item-title>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-btn :class="fav ? 'red--text' : ''" icon @click="fav = !fav">
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>

              <v-divider></v-divider>

              <v-list>
                <v-list-item>
                  <v-list-item-title>Node Id: Lochristi34</v-list-item-title>

                </v-list-item>
                <v-list-item>
                  <v-list-item-title>Node name: Lochristi Node 34</v-list-item-title>

                </v-list-item>
              </v-list>

              <v-card-actions>
                <div class="flex-grow-1"></div>

                <v-btn text @click="menu = false">Deny</v-btn>
                <v-btn color="primary" text @click="menu = false">Allow</v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>

        </v-card-title>

        <v-card-text>
          <v-flex class="ml-3">
            <v-layout column justify-space-around>
              <v-data-table show-expand item-key="name" :headers="headers" :items="items" :items-per-page="10"
                single-expand :expanded.sync="expanded">
                <template v-slot:expanded-item="{ headers }">
                    <!-- <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip> -->
                    <v-chip :color="green" dark>123</v-chip>
                  <td :colspan="headers.length">
                    <v-layout class="py-3" row wrap align-center>
                      farmer name / link <br>
                      node specifics <br>
                      CU pricing <br>
                      SU procing <br>
                      Nu pricing <br>
                      SLA

                    </v-layout>
                  </td>
                </template>
              </v-data-table>
              <!-- <v-layout v-for="(item, i) in items" :key="i">
                  <v-flex xs3>
                    Name
                  </v-flex>
                  <v-flex>
                    {{item.name}}
                  </v-flex>
                </v-layout> -->
            </v-layout>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-row>
</section>