<section class="nodeinfo">
  <v-row class="px-4">
    <v-col>
      <v-row>
        <v-flex xs3 class="text-left pr-2">Farmer name / link </v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.name}}</span>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex xs3 class="text-left pr-2">Node specifics</v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.specifics}}</span>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex xs3 class="text-left pr-2">CU pricing</v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.CUPricing}}</span>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex xs3 class="text-left pr-2">SU pricing</v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.SUPricing}}</span>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex xs3 class="text-left pr-2">NU pricing</v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.NUPricing}}</span>
        </v-flex>
      </v-row>
      <v-row>
        <v-flex xs3 class="text-left pr-2">SLA</v-flex>
        <v-flex class="text-truncate font-weight-bold">
          <span>{{value.SLA}}</span>
        </v-flex>
      </v-row>
    </v-col>

  </v-row>
</section>