<section class="farmsettings">
  <!-- <v-row align="centered" justify="center" class="grey--text lighten-5 pb-5 mb-5">
      This will be available soon..
    </v-row> -->
  <v-row class="ma-3">
    <v-card style="width: 100%;">
      <v-card-title primary-title class="primary darken-2 py-3 mb-5 white--text">
        <v-icon color="white" left>fas fa-server</v-icon>
        My farm settings
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col colls="6">
            <h2>Public information</h2>
            <br>
            <v-text-field v-model="treebotId" label="3bot ID" disabled></v-text-field>
            <v-text-field v-model="treebotName" label="Farm name"></v-text-field>
            <v-textarea counter label="Farm description" :rules="farmDescriptionRules" :value="farmDescription">
            </v-textarea>

            <v-text-field v-model="farmLocation" label="Farm location"></v-text-field>

            <v-text-field v-model="farmEmail" label="Email"></v-text-field>

          </v-col>
          <v-col colls="6">
            <h2>Private information</h2> <br>
            <v-text-field v-model="VAT" label="VAT number"></v-text-field>

            <v-text-field v-model="companyRegistrationNumber" label="Company Registration Number"></v-text-field>
          </v-col>
        </v-row>
        <v-row align="right">
          <v-spacer />
          <v-btn text class="mr-3">Cancel</v-btn>
          <v-btn color="primary" class="mr-3">Save</v-btn>
        </v-row>
      </v-card-text>
    </v-card>
  </v-row>
  <v-row class="ma-3">
    <v-card style="width: 100%;">
      <v-card-title primary-title class="primary darken-2 py-3 mb-5 white--text">
        <v-icon color="white" left>fas fa-server</v-icon>
        My capacity pricing
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col colls="6">
            <v-text-field prefix="$" type="number" step="0.01" min="0" v-model="computeUnit" label="Compute unit">
            </v-text-field>
            <v-text-field prefix="$" type="number" step="0.01" min="0" v-model="memoryUnit" label="Memory unit">
            </v-text-field>
            <v-text-field prefix="$" type="number" step="0.01" min="0" v-model="ssdUnit" label="SSD unit">
            </v-text-field>
            <v-text-field prefix="$" type="number" step="0.01" min="0" v-model="hddUnit" label="HDD unit">
            </v-text-field>
          </v-col>
          <v-col></v-col>
        </v-row>
        <v-row align="right">
          <v-spacer />
          <v-btn text class="mr-3">Cancel</v-btn>
          <v-btn color="primary" class="mr-3">Save</v-btn>
        </v-row>
      </v-card-text>
    </v-card>
  </v-row>
</section>