<section class="blockinfo">
  <v-col>
    <v-row>
      <v-flex xs3 class="text-right pr-2">Height</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <span>{{block.height}}</span>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex xs3 class="text-right pr-2">ID</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <span v-on='on'>{{block.blockid}}</span>
          </template>
          <span>{{block.blockid}}</span>
        </v-tooltip>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex xs3 class="text-right pr-2">Parent Block ID</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <span v-on='on'>{{block.rawblock.parentid}}</span>
          </template>
          <span>{{block.rawblock.parentid}}</span>
        </v-tooltip>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex xs3 class="text-right pr-2">Time</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <span>{{timestamp}}</span>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex xs3 class="text-right pr-2">Block Confirmations</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <span>{{height - block.height}}</span>
      </v-flex>
    </v-row>
    <v-row>
      <v-flex xs3 class="text-right pr-2">Active BlockStake</v-flex>
      <v-flex xs9 class="text-truncate font-weight-bold">
        <span>{{block.estimatedactivebs}}</span>
      </v-flex>
    </v-row>
  </v-col>
</section>