<section class="capacitymap">
  <v-layout row wrap>
    <v-flex d-flex md4 class="pr-2">
      <v-card style="width: 100%;">
        <v-card-title primary-title class="primary py-3 mb-5 white--text">
          <v-icon small color="white" left>fas fa-server</v-icon>
          Capacity finder
        </v-card-title>
        <v-card-text>
          <v-layout column align-content-space-between>
            <geo-chart :colors="[$vuetify.theme.currentTheme.secondary]" :data="[['United States', 44], ['Germany', 23], ['Brazil', 22]]"
              @click.native="showResult = true">
            </geo-chart>
            <v-flex>
              <v-select :items="farmers" label="Farmer" prepend-icon="fas fa-digging"></v-select>
            </v-flex>
            <v-flex>
              <capacityselector icon="fa-microchip" label="CRU" />
            </v-flex>
            <v-flex>
              <capacityselector icon="fas fa-memory" label="MRU" />
            </v-flex>
            <v-flex>
              <capacityselector icon="fad fa-hdd" label="HRU" />
            </v-flex>
            <v-flex>
              <capacityselector icon="fas fa-hdd" label="SRU" />
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex d-flex class="pl-2">
      <v-card style="width: 100%;">
        <v-card-title primary-title class="primary py-3 mb-5 white--text">
          Nodes
          <v-spacer/>
          <v-text-field class="pt-0" dark v-model="searchNodes" append-icon="fa-search" label="Search" single-line hide-details>
          </v-text-field>
          
        </v-card-title>
        <v-card-text>
          <v-flex class="ml-3">
            <v-layout column justify-space-around>
              <v-data-table show-expand item-key="name" :search="searchNodes" :headers="headers" :items="items" :items-per-page="10"
                single-expand :expanded.sync="expanded">
                <template v-slot:item.status="{ item }">
                  <p class="text-center mt-1 mb-0 ">
                    <v-chip :color="getColor(item.status)" dark>{{ item.status }}</v-chip>
                  </p>
                  </template>
                <template v-slot:expanded-item="{ headers }">
                  <td :colspan="headers.length">
                    <nodeinfo/>
                  </td>
                </template>
              </v-data-table>
              <!-- <v-layout v-for="(item, i) in items" :key="i">
              <v-flex xs3>
                Name
              </v-flex>
              <v-flex>
                {{item.name}}
              </v-flex>
            </v-layout> -->
            </v-layout>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</section>