<section class="newscard">
  <scrollablecard style="height: 100%" title="News" icon="fas fa-bullhorn">
    <v-card class="my-2" v-for="i in 100" :key="i">
      <v-card-text>
        <v-row class="px-2">
          <v-avatar color="secondary darken-2">
            <v-img src="https://www.skillsforgrowth.org.uk/images/headerimg/young-person.jpg"></v-img>
          </v-avatar>
          <v-flex xs8>
            <v-col class="py-0">
              <div>
                <h2>Time to act</h2>
                <span class="body-2">ThreeFold Grid</span>
                <p class="body-1">We are looking for 20 young and passionate people...</p>
              </div>
            </v-col>
          </v-flex>
          <!-- <v-col class="red">

          </v-col> -->
        </v-row>
      </v-card-text>
    </v-card>
  </scrollablecard>
</section>