<section class="newscard">
  <scrollablecard :disableSearch="true" style="height: 100%" title="News" icon="fas fa-bullhorn" v-if="news">
    <v-card class="my-2 grey lighten-5" v-for="newsItem in newsItems" :key="newsItem.id" @click="showNewsDialog(newsItem, true)">
      <v-card-text>
        <v-row class="px-2">
          <v-avatar color="secondary darken-2">
            <v-img :src="news.image"></v-img>
          </v-avatar>
          <v-flex xs8 class="ml-2 py-0">
                <h2>{{newsItem.title}}</h2>
                <span class="body-2">{{newsItem.author}}</span>
                <p class="body-1 pb-0 mb-0">{{newsItem.detail.replace(/(([^\s]+\s\s*){10})(.*)/,"$1…")}}</p>
                <v-btn text small style="margin-left: -12px">[Read more]</v-btn>
          </v-flex>
        </v-row>
        <v-layout row wrap>
          <div class="flex-grow-1"></div>
          <v-btn text>like</v-btn>
          <v-btn text>Share</v-btn>
        </v-layout>
      </v-card-text>
    </v-card>
  </scrollablecard>
  <v-dialog v-model="showDialog" max-width="600px" scrollable>
    <v-card>
      <v-toolbar color="secondary darken-2" class="mb-3 text-uppercase" dark>
        <v-card-title>News from {{news.author}}</v-card-title>
        <v-spacer />
        <v-btn icon class="mr-0" @click="showNewsDialog(news, false)">
          <v-icon>fas fa-times</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <div class="header py-5 mb-5" :style="headerStyle">
          <v-row align="center" justify="center" class="py-5">
            <h3 class="display-1 font-weight-black py-1">{{news.title}}</h3>
          </v-row>
        </div>
        <p class="body1">{{news.detail}}</p>
      </v-card-text>

      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn text>like</v-btn>
        <v-btn text>Share</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</section>