<section class="home">
  <v-container grid-list-md>
    <v-layout column>
      <v-flex>
        <v-layout row wrap>
          <v-flex d-flex>
            <minigraph />
          </v-flex>
          <v-flex d-flex>
            <minigraph special color="red" />
          </v-flex>
          <v-flex d-flex>
            <minigraph color="blue" />
          </v-flex>
          <v-flex d-flex>
            <minigraph color="purple" />
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex>
        <v-layout row wrap>
          <v-flex md8>
            <tokenpricegraph />
          </v-flex>
          <v-flex d-flex>
            <v-card style="width:100%; height: 100%; position: relative; ">
              <v-card-title>
                Last trades
              </v-card-title>
              <v-card-text style="height:85%; position: relative; overflow: auto;">
                <div style="position: absolute; height:100%;">
                  <p v-for="i in 100" :key="i">i</p>

                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex>
        <capacitymap />
      </v-flex>
    </v-layout>
  </v-container>
</section>