<section class="lasttrades">
    <scrollablecard style="height: 100%" title="Last trades" icon="fas fa-exchange-alt">
        <v-card class="my-2" v-for="i in 100" :key="i">
            <v-card-text>
                <v-row class="px-2" align="center">
                    <v-avatar color="secondary">
                        <v-icon color="white">fas fa-exchange-alt</v-icon>
                    </v-avatar>
                    <v-col class="py-0">
                        <div>Trade info</div>
                        <div>Even more info</div>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </scrollablecard>
</section>