<section class="lasttrades">
    <scrollablecard style="height: 100%" title="Last trades" icon="fas fa-exchange-alt">
        <v-card class="my-2" v-for="i in 100" :key="i">
            <v-card-text>
                <v-row class="px-2" align="center">
                    <v-avatar color="secondary darken-2 ">
                        <v-icon color="white">fas fa-exchange-alt</v-icon>
                    </v-avatar>
                    <v-col class="py-0">
                        <div>Block #355674</div>
                        <div>ID:a9285c456f4086e4fc7e73096fb660a8e0b22ab4f2617ab624dea030a82e4832</div>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </scrollablecard>
</section>